<div class="section__wrapper {{ section.settings.display_visibility }}">
  {%-
    render 'component-section-padding'
    id: section.id,
    color_background_gradient: section.settings.color_background_gradient,
    color_background: section.settings.color_background,
    padding_top_mobile: section.settings.padding_top_mobile,
    padding_bottom_mobile: section.settings.padding_bottom_mobile,
    padding_top_desktop: section.settings.padding_top_desktop,
    padding_bottom_desktop: section.settings.padding_bottom_desktop,
    style_line_top: section.settings.style_line_top,
    style_line_bottom: section.settings.style_line_bottom,
    color_line: section.settings.color_line
  -%}
  {%-
    render 'component-breadcrumbs',
    id: section.id,
    icon_home: section.settings.icon_home,
    icon_arrow: section.settings.icon_arrow,
    breadcrumbs: section.blocks,
    display_visibility: section.settings.display_visibility,
    color_icon: section.settings.color_icon,
    color_text: section.settings.color_text,
    color_background_gradient: section.settings.color_background_gradient,
    color_background: section.settings.color_background
  -%}
</div>

{% schema %}
{
  "name": "t:name.breadcrumbs",
  "tag": "section",
  "class": "breadcrumbs",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:info.intro_section_breadcrumbs"
    },
    {
      "type": "paragraph",
      "content": "t:info.intro_section_breadcrumbs_block_info"
    },
    {
      "type": "text",
      "id": "icon_home",
      "label": "t:label.icon_home",
      "default": "home"
    },
    {
      "type": "text",
      "id": "icon_arrow",
      "label": "t:label.icon_separator",
      "info": "t:info.icon_separator",
      "default": "chevron_right"
    },
    {
      "type": "header",
      "content": "t:info.header_color_settings"
    },
    {
      "type": "paragraph",
      "content": "t:info.intro_color_settings"
    },
    {
      "type": "color",
      "id": "color_icon",
      "label": "t:label.icon_color"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:label.text_color"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "t:label.background_color"
    },
    {
      "type": "color_background",
      "id": "color_background_gradient",
      "label": "t:label.background_gradient"
    },
    {
      "type": "header",
      "content": "t:info.header_section_padding_settings"
    },
    {
      "type": "paragraph",
      "content": "t:info.intro_section_padding_settings"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:label.top_padding_desktop_16",
      "default": 16
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:label.bottom_padding_desktop_16",
      "default": 16
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:label.top_padding_mobile_16",
      "default": 16
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:label.bottom_padding_mobile_16",
      "default": 16
    },
    {
      "type": "header",
      "content": "t:info.header_separator_settings"
    },
    {
      "type": "paragraph",
      "content": "t:info.intro_separator_settings"
    },
    {
      "type": "select",
      "id": "style_line_top",
      "label": "t:label.top_separator_style",
      "options": [
        {
          "value": "dashed",
          "label": "t:label.dashed"
        },
        {
          "value": "dotted",
          "label": "t:label.dotted"
        },
        {
          "value": "line",
          "label": "t:label.line"
        },
        {
          "value": "none",
          "label": "t:label.none"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "style_line_bottom",
      "label": "t:label.bottom_separator_style",
      "options": [
        {
          "value": "dashed",
          "label": "t:label.dashed"
        },
        {
          "value": "dotted",
          "label": "t:label.dotted"
        },
        {
          "value": "line",
          "label": "t:label.line"
        },
        {
          "value": "none",
          "label": "t:label.none"
        }
      ],
      "default": "none"
    },
    {
      "type": "color",
      "id": "color_line",
      "label": "t:label.separator_color"
    },
    {
      "type": "header",
      "content": "t:info.header_visibility_settings"
    },
    {
      "type": "paragraph",
      "content": "t:info.intro_visibility_settings"
    },
    {
      "type": "radio",
      "id": "display_visibility",
      "label": "t:label.visibility",
      "options": [
        {
          "value": "hide-no",
          "label": "t:label.do_not_hide"
        },
        {
          "value": "hide-desktop",
          "label": "t:label.hide_on_desktop"
        },
        {
          "value": "hide-mobile",
          "label": "t:label.hide_on_mobile"
        }
      ],
      "default": "hide-no"
    }
  ],
  "blocks": [
    {
      "type": "breadcrumb",
      "name": "t:name.breadcrumb",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:info.intro_block_breadcrumb"
        },
        {
          "type": "text",
          "id": "text",
          "label": "t:label.text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:label.link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:name.breadcrumbs",
      "blocks": []
    }
  ]
}
{% endschema %}
