.cart__empty {
  padding: 8rem 0 0;
  text-align: center;
}
.cart__empty > *:not(:last-child) {
  margin: 0 0 1.6rem 0;
}
.cart__wrapper {
  display: grid;
  grid-gap: 1.6rem;
}
@media (min-width: 48em) {
  .cart__wrapper {
    grid-template-columns: auto 30rem;
  }
}
@media (min-width: 85.375em) {
  .cart__wrapper {
    grid-gap: 3.2rem;
    grid-template-columns: auto 36rem;
  }
}
.cart__wrapper .upsell-item__heading {
  margin: 4.8rem 0;
}
.cart__wrapper .cart-item.desktop {
  padding: 0;
}
@media (max-width: 47.99em) {
  .cart__wrapper .cart-item.desktop {
    display: none;
  }
}
@media (min-width: 48em) {
  .cart__wrapper .cart-item.mobile {
    display: none;
  }
}
@media (min-width: 48em) {
  .cart__wrapper .cart-item {
    display: grid;
    grid-template-columns: 5fr 2fr 2fr 2fr 1fr;
    margin: 2.4rem;
    align-items: start;
  }
  .cart__wrapper .cart-item div {
    overflow: auto;
  }
  .cart__wrapper .cart-item__image {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2.4rem;
  }
  .cart__wrapper .cart-item__image figure {
    position: relative;
    padding-bottom: 100%;
  }
  .cart__wrapper .cart-item__image figure img {
    border-radius: 0.8rem;
  }
  .cart__wrapper .cart-item__title a {
    margin: 0 0 0.8rem 0;
    display: block;
    line-height: 1.5;
  }
  .cart__wrapper .cart-item__totals {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .cart__wrapper .cart-item__remove a {
    color: #f2d2ca;
  }
}
.cart__wrapper .cart-summary__meta {
  border: 1px solid rgba(var(--color-border), 1);
  border-radius: 0.8rem;
  overflow: hidden;
}
.cart__wrapper .cart-summary__note {
  margin: 2.4rem 0 0 0;
}

.cart-content {
  margin: 0 0 1.6rem 0;
}
@media (min-width: 48em) {
  .cart-content {
    border: 1px solid rgba(var(--color-border), 1);
    box-shadow: 0 2rem 6rem rgba(52, 64, 84, 0.04);
    border-radius: 0.8rem;
  }
}
@media (min-width: 64em) {
  .cart-content {
    margin: 0 0 4rem 0;
  }
}
.cart-content__header {
  display: none;
}
@media (min-width: 48em) {
  .cart-content__header {
    display: grid;
    grid-template-columns: 5fr 2fr 2fr 2fr 1fr;
    padding: 1.6rem 2.4rem;
    border-bottom: 1px solid rgba(var(--color-border), 1);
    font-size: 1.2rem;
  }
}
.cart-content__header p {
  margin: 0;
}
.cart-content__header p:last-child {
  justify-self: center;
}
